
<div class='row'>
    <div class='col-sm-6' style='padding: 20px 10px;'>
        <span><%= local %> - <%= uf %>/<%= municipio %> </span>
        <span class='badge'> <%= tipo %> </span>
    </div>
    <div class='col-sm-6 text-right'>
        <a href='#comp/monitoramento-covid/local/<%= id %>' class='btn btn-primary btn-small btn-open '>
            <i class="glyphicon glyphicon-folder-open"></i>
        </a>
        <a class='btn btn-small btn-danger btn-remove'>
                <i class="glyphicon glyphicon-trash"></i>
                
        </a>
    </div>
</div>

    
        