<div class="bbm-modal__topbar">
    <a class="nucleoTexto gotoReturn"><i class="mdi mdi-chevron-left"></i> Voltar</a>
	<h4>
        <% if(title){%>
            <i class="mdi mdi-file-video" style='color: #1a877b!important;'></i> 
        <%- title %><%
        }else{ %>
            Vídeo de Apresentação
        <%}%> 
    <% if(fileapoio){%>
    <small>
        <i class="mdi mdi-cloud-download" style='color: #1a877b!important;'></i> 
        <a href="https://<%- window.location.host %>/static/bib/apoio/<%- fileapoio %>" target='_blank' >
            Material de apoio
        </a>
    </small>
    <%}%>
    </h4>
</div>
<div class="bbm-modal__section row">
        <video
            id="intro_video" controls="true" preload="none" width="100%"
            poster="<%-defaultStaticFileService%>/img/<%-poster%>">
            <%
            sources = sources.sort(function(a,b){
                var f = function(x){return parseInt(x.resolution.match(/\d/img).join(''),10)};
                return f(a) > f(b) ? 1 : (f(a) < f(b) ? -1 : 0);
            });
            for (idx in sources){
                var source = sources[idx];
                %>
                <source
                    src="<%-defaultStaticFileService%>/videos/<%-source.filename%>_<%-source.resolution%>.<%-source.extension%>"
                    type="<%-source.mime%>"
                    media="<%-source.mediaQuery%>">
            <% } %>
        </video>
</div>