<style type='text/css'>
.linha-legenda{
/* margin-top: 20px; */
    border-bottom: 1px solid #ddd;
     background-color: #eee;
/*     padding: 5px; */
    display: flex;
    /* align-content: center; */
    align-items: center;
}
.legenda{
       /*margin-top:30px; */
}
.legenda li{
    margin:1.2rem!important;
    padding:2rem!important;
    background-color: #fff!important;
    border:none!important;
    border-radius:4px!important;
}
.resultado{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: white;
}
.resultados h1,h2,h4{
    color:#2a78a1!important;
    font-weight: 600;
}
.media h3 > small{
    background-color:#2a78a1!important; 
    color:white
}
text.highcharts-title{
    font-weight: 600;
}
</style>
<div class="resultados panel-group" id="<%= element_id %>" role="tablist" aria-multiselectable="true" style='margin-bottom:0px!important'>
        <div class='row'>
        <div class='col-sm-4' style='padding: 20px 10px;'>
            <span><%= periodoInicio %>
            <% if(tipo !== 'diario'){ %> a <%= periodoFim %><% } %>
            </span>
        </div>
        <div class='col-sm-8 text-right'>
                <a class="btn btn-success btn-graficos-periodo" data-id='<%= id %>'
                role="button" data-toggle="collapse" data-parent="#<%= element_id %>"
                href="#collapseOne_<%= element_id %>" aria-expanded="true" aria-controls="collapseOne_<%= element_id %>"
                
                >
                    <i class="glyphicon glyphicon-signal btn-success"> <i class="glyphicon glyphicon-chevron-up"></i> </i>
                </a>
                <a href='#comp/monitoramento-covid/local/<%= encodeURI(id_local) %>/amostragem/<%= id %>' class='btn btn-primary btn-small btn-open '>
                    <i class="glyphicon glyphicon-file"></i>
                </a>
                <a class='btn btn-danger btn-small btn-remove' data-id='<%= id %>'>
                        <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
    </div>

    <div id="collapseOne_<%= element_id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class='panel panel-default'>
            <div class='panel-body' style="padding: 0px;">
                <div class='list-group-item media' style='background-color:#2a78a1!important; color:white'>
                    <h3 >Média de <%= media %> Contatos por Caso
                    <small> Parâmetros 3 a 10 / Meta pelo menos 5</small> 
                    </h3>                        
                </div>
            </div>
        </div>
        <div class='panel panel-default'>
            <div class='panel-heading local-heading'>Entre Todos os Contatos
            </div>
            <div class='panel-body' style="padding: 0px 15px;">
                <div class='row linha-legenda'>
                    <% ide = element_id+'_grafico-situacao' %>
                    <style type='text/css'>
                        #<%= ide %> .highcharts-color-0 {
                            fill: #73e5da;
                        }
                        #<%= ide %> .highcharts-color-1 {
                            fill: #8ED685;
                        }
                        #<%= ide %> .highcharts-color-2 {
                            fill: #1f8ab5;
                        }
                        #<%= ide %> .highcharts-color-3 {
                            fill: #B3B3B3;
                        }
                        
                        
                        #<%= ide %> .highcharts-color-0 rect {
                            fill: #73e5da;
                        }
                        #<%= ide %> .highcharts-color-1 rect{
                            fill: #8ED685;
                        }
                        #<%= ide %> .highcharts-color-2 rect{
                            fill: #1f8ab5;
                        }
                        #<%= ide %> .highcharts-color-3 rect {
                            fill: #B3B3B3;
                        }

                    </style>
                    <div class='col-sm-6 resultado' id='<%= element_id %>_grafico-situacao'>
                    </div>
                    <div class='col-sm-6 legenda'>
                    <ul class='list-group'>
                        
                        <li class='list-group-item'><b>Atenção ao quantitativo com situação em andamento!</b></li>
                        <li class='list-group-item'>Avalie se a estrutura disponível é adequada.</li>
                    </ul>
                    </div>
                </div> 
                <div class='row linha-legenda' >
                    <% ide = element_id+'_grafico-relacao' %>
                    <style type='text/css'>
           
                        #<%= ide %> .highcharts-color-0 {
                            fill: #8ED685;
                        }
                        #<%= ide %> .highcharts-color-1 {
                            fill: #51A892;
                        }
                        #<%= ide %> .highcharts-color-2 {
                            fill: #c1f0a2;
                        }
                        #<%= ide %> .highcharts-color-3 {
                            fill: #1f8ab5;
                        }
                        #<%= ide %> .highcharts-color-4 {
                            fill: #73E5DA;
                        }
                        #<%= ide %> .highcharts-color-5 {
                            fill: #5C77BC;
                        }
                        #<%= ide %> .highcharts-color-6 {
                            fill: #B3B3B3;
                        }
                        #<%= ide %> .highcharts-color-6 rect {
                            fill: #B3B3B3;
                        }
                        #<%= ide %> .highcharts-color-0 rect {
                            fill: #8ED685;
                        }
                        #<%= ide %> .highcharts-color-1 rect{
                            fill: #51A892;
                        }
                        #<%= ide %> .highcharts-color-2 rect{
                            fill: #c1f0a2;
                        }
                        #<%= ide %> .highcharts-color-3 rect {
                            fill: #1f8ab5;
                        }
                        #<%= ide %> .highcharts-color-4 rect{
                            fill: #73E5DA;
                        }
                        #<%= ide %> .highcharts-color-5 rect{
                            fill: #5C77BC;
                        }
                    </style>
                    <div class='col-sm-6 resultado' id='<%= element_id %>_grafico-relacao'>
                    </div>
                    <div class='col-sm-6 legenda'>
                        <ul class='list-group'>
                            <li class='list-group-item'><b>Atenção ao percentual de contatos extradomiciliares!</b></li>
                            <li class='list-group-item'>Com a retomada das atividades o percentual de 
                            contatos extradomiciliares deve aumentar.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class='panel panel-default'>
            <div class='panel-heading local-heading '>
                Entre Contatos Encerrados
            </div>
            <div class=' panel-body'>
                <div class='row linha-legenda'>
                    <% ide = element_id+'_grafico-motivos-encerramento' %>
                    <style type='text/css'>
                        #<%= ide %> g.highcharts-legend-item.highcharts-pie-series.highcharts-color-7 {
                            display: none;
                        }
                    </style>
                    <div class='col-sm-6 resultado' id='<%= element_id %>_grafico-motivos-encerramento'>
                    </div>
                    <div class='col-sm-6 legenda'>
                        <ul class='list-group'>
                            <li class='list-group-item'><b>Busque a redução do percentual de monitoramento incompleto!</b></li>
                            <li class='list-group-item'>Atenção ao percentual de contatos suspeitos e casos confirmados de covid-19! </li>
                            <li class='list-group-item'>Seu aumento pode indicar recrudescimento da epidemia.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
         <div class='panel panel-default'>
            <div class='panel-heading local-heading'>
                Entre Contatos Descartados
            </div>
            <div class='panel-body' style="padding: 0px 15px;">
                <div class='row linha-legenda' style=''>
                    <% ide = element_id+'_grafico-segundo' %>
                    <div class='col-sm-6 resultado' id='<%= ide %>'>         
                    </div>
                    <div class='col-sm-6 legenda'>
                        <ul class='list-group'>
                            <li class='list-group-item'>O início precoce do monitoramento permite identificar mais rapidamente contatos suspeitos ou confirmados de covid-19 e realizar a testagem em tempo oportuno.</li>
                        </ul>
                    </div>
                </div>
                <div class='row linha-legenda'>
                    <% ide = element_id+'_grafico-decimo-quarto' %>
                    <div class='col-sm-6 resultado' id='<%= ide %>'>         
                    </div>
                    <div class='col-sm-6 legenda'>
                        <ul class='list-group'>
                            <li class='list-group-item'>A comunicação no último dia preconizado indica que o monitoramento foi completado.</li>
                        </ul>
                    </div>
                </div>
                <div class='row linha-legenda'>
                    <% ide = element_id+'_grafico-vezes-monitoradas' %>
                    <div class='col-sm-6 resultado' id='<%= element_id %>_grafico-vezes-monitoradas'>         
                    </div>
                    <div class='col-sm-6 legenda'>
                        <ul class='list-group'>
                            <li class='list-group-item'>Quanto maior a frequência de comunicações com os contatos maior a possibilidade de detectar casos precocemente e realizar a testagem em tempo oportuno.</li>
                        </ul>
                    </div>
                </div>
                <!--div class='row linha-legenda'>
                    <button class='btn btn-success' onclick="widown.print()">
                         <i class="glyphicon glyphicon-print"> Imprimir Gráficos</i>
                    </button-->
                </div>

            </div>
        </div>
      </div>
    </div>

</div>



        