<% var capitalize = function(string) { return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase(); };
if(sexo){ %>
<h3>Paciente</h3>
<div class="col-md-12 col-sm-12">
    <div class="pacienteInfoBlock">
        <i class="mdi mdi-gender-<%= sexo == "masculino" ? "male" : "female"%> <%=sexo%> iconeSexoPaciente"></i><%
        if(cor){%>
            <div class="text-center"><%=capitalize(cor).trim()%></div><%}%>
    </div>
    <div class="pacienteInfoBlock">
        <h1><%= iniciais.split('').join('.') + '.'%></h1>
    </div>
    <div class="pacienteInfoBlock">
        <div class="textoIdadePaciente"><%=strIdade()%></div>
        <div class="textoIdadePaciente"><%if(ocupacao){%><%=capitalize(ocupacao)%><%}%></div>
    </div><%
    if(queixa.problemas){
        if(queixa.problemas.length>0){%>
    <div class="pacienteInfoBlock"><%
        for(rw in queixa.problemas) { %>
        <div class="pacienteQueixa"><%= queixa.problemas[rw] %></div><% } %>
    </div><%}%>
    <%}%>
</div>
<% } %>