<%
  var mesesAbr = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez'];
  var it = {resources: obj}
  var numCols = 2;
  var alphaSort = function(a,b){
    var aa = a.autor.toLowerCase(),
        ab = b.autor.toLowerCase();
    return aa > ab ? 1 : aa < ab ? -1 : 0
  };
  var orderSort = function(a, b){ return a.order > b.order ? 1 : -1; }
  it.resources = it.resources[0].order ? it.resources.sort(orderSort) : it.resources.sort(alphaSort);
  var removeTrailing = function(char, str) { return str.slice(-1) === char ? str.slice(0, -1) : str }
  var ensureTrailing = function(char, str) { return removeTrailing(char, str) + char }
  %>
  <h2>Bibliografia</h2>

<div class="container-fluid">

  <style>
    .adaptItem{
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
            break-inside: avoid;
    }
    .biblioGeral ol li {
        font-size: 1.2em;
        margin-top: 1.3rem;
    }
    @media (min-width: 992px) {
      .adaptCol{
        column-count: 2;
        column-gap: 90px;
        column-fill: balance;
      }
    }
  </style>

  <ol class="adaptCol" start="1">
    <% it.resources.forEach(function(bib) { %>
      <li class="adaptItem" data-id="<%- bib._id %>">
        <%- ensureTrailing('.', bib.autor) %>
        <%- bib.preTitulo ? bib.preTitulo : '' %>
        <strong style="font-weight: bold !important; color: #333 !important;"><% if(bib.url) { %><a target='_blank' style="font-weight: bold !important; color: #333 !important;" href='<%-window.defaultStaticFileService%>/bib/<%=bib.url%>'><%- removeTrailing('.', bib.titulo) %></a><% } else {%><%= removeTrailing('.', bib.titulo) %><% } %></strong><%- bib.subtitulo ? removeTrailing('.', bib.subtitulo) : '' %><%- bib.separadorEtc ? bib.separadorEtc : '. ' %><%= bib.etc ? bib.etc : '' %><%= bib.ano && !bib.soEtc ? bib.ano + '.' : '' %>

        <% if(bib.urlOri && bib.disponivelEm) { %>Disponível em: <% } %>
        <% if(bib.urlOri) { %>
          <small style="font-weight: 200; font-style: oblique;">            
            <span style="word-break: break-all;"><a target='_blank' href='<%-bib.urlOri%>'><%-bib.urlOri%></a></span>. 
          
            <% 
              if(bib.acessoEm){
                var d  = new Date(bib.acessoEm),
                str = d.toDateString().split(' ')[2] + " "
                  + mesesAbr[d.getMonth()] + ". "
                  + d.getFullYear() ;
            %>
              Acesso em: <%- str %>. 
            <%}%>
          </small>
        <% } %>

        <br/>
        
        <% if(bib.url && bib.filesize) { %>
          <small>
            <i class="mdi mdi-cloud-download" style="color: #ababab"></i>
            <a target='_blank' href='<%-window.defaultStaticFileService%>/bib/<%=bib.url%>'>Cópia espelho (<%= bib.filesize %>)</a>
          </small>
        <%}%>
      </li>
    <% }); %>
  </ol>
</div>
